@model Product
@{
    ViewBag.Title = "Product Details";
}

<h1>Product <a id="Highlight">Details</a></h1>
<br><br>

  <div class="image2">
    <img src="@Url.Content(ViewBag.imgurl)"  alt="@Model.Name Image"/>
  </div>
                 
<br><br>
    <div class="col-sm-6">
        
        <h2 id="Highlight">@Model.Name</h2>
        <table class="table table-bordered table-striped" style="border: 1px solid green;">
            <tr style="color: white;">
                <td>Initial Price:</td>
                <td>@Model.Price.ToString("C")</td>
            </tr>
            <tr style="color: white;">
                <td>Discount:</td>
                <td>@Model.DiscountPercent.ToString("P0")</td>
            </tr>
            <tr style="color: white;">
                <td>Final Price:</td>
                <td>@Model.DiscountPrice.ToString("C") </td>
            </tr>
        </table>
        <a style="text-decoration: none;color: green" 
        href="@Url.Action("AddItem", "Cart", new { id = @Model.ProductID })">
        <button mdbRipple rippleColor="dark" type="button" 
        class="btn btn-outline-success btn-rounded" style="size: 4ch;" >
        Add to Cart</button></a>
    </div>
</div>